<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改密码</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_ay4w4j5c2tke29.css">
    <link rel="stylesheet" href="css_user/bootstrap.min.css" th:href="@{${uiPath} + ${appName} + '/css_user/bootstrap.min.css'}">
    <link rel="stylesheet" href="css_user/style.css" th:href="@{${uiPath} + ${appName} + '/css_user/style.css'}">
    <script type="text/javascript">
        function checkpassword() {
            var p1=document.getElementById("pwd1").value;
            var p2=document.getElementById("pwd2").value;
            if(p1=="")
            {
                document.getElementById("pwd1").innerHTML="密码不可以为空，请重新输入";
                return false;
            }
            if(p1!=p2)
            {
                document.getElementById("msg").innerHTML="两次输入密码不一致，请重新输入";
                return false;
            }else{
                //密码一致，可以继续下一步操作
            }
        }

    </script>

</head>
<body class="login-page">
<!--表头-->
<nav class="navbar navbar-inverse navbar-fixed-top" ><!--navbar-inverse-->
    <div class="container">
        <!-- navbar-header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}" title="yszjCMS"><span id="logo-text-left">yszj</span><span id="logo-text-right">User</span></a>
        </div>
        <!-- /.navbar-header -->
        <!-- navbar-collapse -->
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="nav navbar-nav">
                <li class="active" >
                    <a href="http://localhost:4441/contract/index">首页</a>
                </li>
                <li class="dropdown">
                    <a href="http://localhost:4441/contract/news">新闻资讯</a>
                </li>
                <li class="dropdown">
                    <a href="http://localhost:4441/contract/case">合同案例</a>
                </li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">合同管理 <b class="caret"></b>

                    </a>
                    <ul class="dropdown-menu" id="menu1">
                        <li>
                            <a href="http://localhost:4441/contract/alreadyselect">已签合同
                            </a>
                        </li>
                        <li>
                            <a href="http://localhost:4441/contract/waitselect">待签合同
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="http://localhost:4441/contract/upload2">发起合同签署
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">信息管理 <i class="caret"></i>

                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a tabindex="-1" th:href="getUserInfo">个人基本信息</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a tabindex="-1" href="password_reset">修改密码</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-right navbar-nav">

                    <li><a data-toggle="modal" data-target=".bs-example-modal-sm">安全退出</a></li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<br>
<br>
<div class="login-box">
    <div class="row login-box-body">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-6 logo-tip">
                <i class="iconfont icon-icon053"></i> <span>修改密码</span>
            </div>
        </div>
        <form id="comsign">
            <div class="form-group has-feedback">
                <input type="password" id="pwd" class="form-control" placeholder="输入旧密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="pwd1" class="form-control" placeholder="输入新密码">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="pwd2" class="form-control" placeholder="确认密码" onchange="checkpassword()">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <!--在div显示错误信息-->
                <div id="msg" style="color:red;"></div>
            </div>

            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat"id="pabt" onclick="password()">确定</button>
                </div>
                <div class="col-xs-6">
                    <button type="reset" class="btn btn-primary btn-block btn-flat">重置</button>
                </div>
                <!-- /.col -->
            </div>
        </form>


        <!-- /.social-auth-links -->

    </div>
</div>
<script type="text/javascript">
    //修改密码
    window.onload=function () {
    }
    $(function() {
        // 点击确定按钮
        $('#pabt').click(function() {
            password();
        });
        // 回车事件
        $('pwd','pwd1','pwd2').keypress(function (event) {
            if (13 == event.keyCode) {
                password();
            }
        });
    });
    function password() {
        // alert("进入了修改密码方法");
        alert($('#pwd').val());
        alert($('#pwd2').val());
        $.ajax({
            url: BASE_PATH + '/password_reset',
            type: 'POST',
            data: {
                password: $('#pwd').val(),
                password1: $('#pwd1').val(),
                password2: $('#pwd2').val(),
            },

            dataType:"json",
            success:function(json){
                $.messager.alert("提示","成功","info");
            },
            beforeSend: function() {
            },
            error: function(error){
                console.log(error);
            }
        });
    }
</script>
<!-- footer -->
<div  style="min-height: 30px;">
</div>
<footer  class="container-fluid" style="background:#222;padding-top:20px;min-height:120px;color: #f7f7f7">
    <div class="container">
        <div class="row" >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                系统简介：本系统主要用于合同签署管理相关流程，以此简化合同签署繁琐的流程。
            </div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                客服热线：400-607-5550
            </div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                客户QQ：4006075550
            </div>
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden-md">
                客户邮箱：4006075550@qq.com
            </div>
            <br>
        </div>
    </div>
</footer>
<!-- /footer -->

<script>var BASE_PATH = '[[${#httpServletRequest.getContextPath()}]]';</script>
<script>var BACK_URL = '[[${#httpServletRequest.getParameter("backurl")}]]';</script>
<script src="js_user/jquery.min.js" th:src="@{${uiPath} + ${appName} + '/js_user/jquery.min.js'}"></script>
<script src="js_user/bootstrap.min.js" th:src="@{${uiPath} + ${appName} + '/js_user/bootstrap.min.js'}"></script>
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 300px">
        <div class="modal-content">
            <div class="modal-body"style="overflow: auto">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="text-center" style="margin: 30px">您确认退出吗?</div>

                <div align="center">
                    <input type="hidden" id="url"/>
                    <a href="signout" class="btn btn-success" >确定</a>
                    <button type="button" class="btn btn-success" data-dismiss="modal">取消</button>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>